In [1]:
import pandas as pd
from datetime import datetime, timedelta
from sqlalchemy import create_engine
from scipy.stats import entropy, ks_2samp

In [23]:
def kl_divergence(p, q):
    return entropy(p, q)

def test_kulball(df1, df2):

    threshold_kl = 0.1  # Define un umbral apropiado para tu contexto
    n = df1.shape[1]
    t = 0

    for columns in df1.columns:
                
        historical_feature = df1[columns].value_counts(normalize=True)
        recent_feature = df2[columns].value_counts(normalize=True)

        all_index = historical_feature.index.union(recent_feature.index)
        p = historical_feature.reindex(all_index, fill_value=0)
        q = recent_feature.reindex(all_index, fill_value=0)

        kl_div = kl_divergence(p, q)

        if kl_div > threshold_kl:
            t = t + 1
            # print(columns)
        else:
            t = t
            # print(columns)

    s = t / n

    return s

def test_shapiro(df1, df2):

    threshold_p_value = 0.05  # Nivel de significancia
    n = df1.shape[1]
    t = 0

    for columns in df1.columns:
                
        ks_stat, p_value = ks_2samp(df1[columns], df2[columns])

        if p_value < threshold_p_value:
            t = t + 1
            # print(columns)
        else:
            t = t
            # print(columns)

    s = t / n

    return s


def testeo_general(df1, df2):
    v1 = test_kulball(df1, df2)
    v2 = test_shapiro(df1, df2)

    vf = (v1+v2)/2
    
    if(df2.shape[0] > df1.shape[0]):
        n = df1.shape[0]/df2.shape[0]
    else:
        n = df2.shape[0]/df1.shape[0]

    # return vf, n

    if (vf > 0.6) & (n>= 0.1):
        return print('4.re_entrenamiento')
    else:    
        return print('0')

In [3]:
# Definir los argumentos del DAG
default_args = {
    'owner': 'Oscar C',
    'depends_on_past': False,
    'email_on_failure': False,
    'email': ['oecorrechag@gmail.com'],
    'retries': 1,
    'start_date': datetime(2024, 5, 20),
    'retry_delay': timedelta(minutes=1),
}

In [4]:
engine = create_engine('mysql+pymysql://root:airflow@mysql:3306/db')
# engine = create_engine('mysql+pymysql://root:airflow@127.0.0.1:3306/db')

In [24]:
query = "SELECT * FROM raw_data"
df1 = pd.read_sql(query, con=engine)
df1.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,101640.0,for_sale,289900.0,4.0,2.0,0.38,1758218.0,East Windsor,Connecticut,6016.0,1617.0,1999-09-30
1,107951.0,for_sale,299900.0,3.0,2.0,0.87,1336295.0,Vernon,Connecticut,6066.0,1850.0,2015-11-09
2,80935.0,for_sale,299000.0,3.0,2.0,0.35,920059.0,North Canaan,Connecticut,6018.0,1620.0,2011-08-23
3,33714.0,for_sale,221000.0,4.0,2.0,0.32,731702.0,Windsor Locks,Connecticut,6096.0,1735.0,2014-03-03
4,29997.0,for_sale,175000.0,3.0,2.0,0.19,1382878.0,Winchester,Connecticut,6098.0,2005.0,2007-07-19

In [25]:
query = "SELECT * FROM test_data"
df2 = pd.read_sql(query, con=engine)
df2.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,92147.0,for_sale,110000.0,7.0,3.0,0.09,1842706.0,Dorado,Puerto Rico,949.0,1192.0,2019-06-28
1,91020.0,for_sale,215000.0,2.0,1.0,0.91,1062364.0,East Windsor,Connecticut,6016.0,960.0,2012-06-06
2,10585.0,for_sale,144900.0,2.0,1.0,0.36,765673.0,Vernon,Connecticut,6066.0,860.0,2016-09-02
3,22611.0,for_sale,239900.0,3.0,1.0,1.43,1244868.0,East Windsor,Connecticut,6016.0,1351.0,2009-06-05
4,75650.0,for_sale,249900.0,3.0,1.0,0.23,114997.0,Enfield,Connecticut,6082.0,1220.0,2003-11-14

# Test con datos completos

In [26]:
z = testeo_general(df1, df2)
print(z)

4.re_entrenamiento
None

# Test con datos simplificados

In [27]:
df1 = df1.loc[:,['price','bed','bath','acre_lot','state','house_size']]
df2 = df2.loc[:,['price','bed','bath','acre_lot','state','house_size']]

In [28]:
z = testeo_general(df1, df2)
print(z)

4.re_entrenamiento
None

# Re entrenar

In [29]:
print('Ok_')

Ok_